body{
	margin: 10px 0px;
}

div{
	border: 1px solid #f57a33;
}
div.one{
	border: 1px solid #000;
	min-height: 50px;
}
div.lil{
	width: 100%;
	min-height: 120px;
	box-sizing: border-box;
}
div.test{
	width: 65%;
	float: left;
	box-sizing: border-box; 
	min-height: 150px;
}
div.bbc{
	width: 35%;
	height: 97px;
	overflow: hidden;
	box-sizing: border-box;
	min-height: 150px;
}
div.nin{
	width: 33.3%;
	box-sizing: border-box;
	float: left;
	min-height: 300px;
}
div.pop{
	width: 33.3%;
	box-sizing: border-box;
	float: left;
	min-height: 300px;
}
div.ofo{
	min-height: 300px;
}
