body{
	padding: 60px;
}
p{
	position: relative;
}
a.button1{
	border: 1px solid #fff;
	border-radius: 3px;
	background-color:#000; 
	color:#fff;
	text-decoration: none;
	padding: 4px;
	font-size: 1.3em;
}
a.button1:hover{
	border: 1px solid #000;
	border-radius: 3px;
	background-color:#fff; 
	color:#000;
	text-decoration: none;
	padding: 4px;
	font-size: 1.3em;
}
span.button2{
	position: relative;
	background-image: url(../fonts/960.jpg);
	width: 25px;
	height: 50px;
	background-repeat: no-repeat;
	background-origin: content-box;
	display: inline-block;
}
span.button2:hover{
	background-origin: content-box;
	background-position: left top -50px;
	cursor: pointer;
}
ul.nav{
	list-style-type: none;
}
li{
	display: inline;
	margin-left: 0px;
	padding-left: 0px;
}
li a:hover{
	text-decoration: none;
	color: #000;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0);
}
li a{
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	border: 1px solid rgba(155, 155, 93, 0.7);
	text-decoration: none;
	margin-right: 130px;
	margin-left: 165px;
	font-size: 1.3em;
	padding: 3px;
}